fastapi==0.110.2
uvicorn==0.29.0
openai==0.28.1
weaviate-client==4.4.2
python-dotenv==1.0.1
spacy==3.8.0
textblob==0.18.0
rapidfuzz==3.7.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
